{% extends 'services/base.html' %}
{% block content %}
    <h1>EDIT PROFILE PAGE</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.media }}
		{% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}