{% extends 'services/base.html' %}
       {% block title %} {{block.super}} {% endblock title %}
	{% block header %}
<br>
<br>
<br>
<div class="container">
<div class="bg-faded p-4 my-4">
	<div style="background-color:aqua;">
<br>
<div class="text-center">
<h2 class="text-center text-lg text-uppercase my-0"> <strong>{{category|upper}} Category</strong></h2>
<hr class="intro-divider"/>
<h4><a href="{% url 'new_post' category=category %}"> 
Create new {{category|title}}-post</a></h4>
<br>
</div>
</div>
</div>
{% endblock header %}

{% block content %}
<div class="container content text-center"></div>
<br/><br/>
{% for i in post %}
<div class="">
	   <div class="row">
	   <div class="text-center">
	   {% if i.image1 %}
<img src="{{ i.image1.url }}" alt="{{ i.image1.name }}" class="img-thumbnail" width="450" height="450">
		{% endif %}
		</div>
	   <div class="col-md-12 col-xs-12"><p><h5>{% for i in tagged_users %}
	<a href="{% url 'profile_page2' user=i %}">@{{i}}</a>
	{% endfor %}
{{ i.text|safe|linebreaksbr }}</h5></p>
	   <pre>BOOSTED POST</pre>
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"><h6><div class="text-right">Author : {{i.user}}</div></h6></a>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div><br/><br/>
{% endfor %}
{% for i in post_2 %}
<div class="">
	   <div class="row">
	   <div class="text-center">
	   {% if i.image1 %}
<img src="{{ i.image1.url }}" alt="{{ i.image1.name }}" class="img-thumbnail" width="450" height="450">
		{% endif %}
		</div>
	   <div class="col-md-12 col-xs-12"><p><h5>{% for i in tagged_users %}
	<a href="{% url 'profile_page2' user=i %}">@{{i}}</a>
	{% endfor %}
{{ i.text|safe|linebreaksbr }}</h5></p>
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"><h6><div class="text-right">Author : {{i.user}}</div></h6></a>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div><br/><br/>
{% endfor %}
<br>
<br>
</div>
{% endblock content %}
	
	
	