{% extends 'services/base.html' %}
{% load static from staticfiles %}
       {% block title %} {{block.super}} {% endblock title %}
	{% block header %}
<br>
<br>
<div style="background-color:aqua;">
<div class="container-fluid">
<br>
<h2 class="text-center text-lg text-uppercase my-0"> <strong>{{category|upper}} Category</strong></h2>
<hr class="intro-divider"/>
<h4 class="text-center"><a href="{% url 'new_post' category=category %}"> 
Create new {{category|title}}-post</a></h4>
<br>
</div>
</div>
{% endblock header %}

{% block content %}

{% if post %}
{% for i in post %}
<div style="background-color:white;">
	   <div class="container">
	   <div class="row">
	   <div class="container">
	   <div class="text-center">
	   	{% if i.image1 %}
<img src="{{ i.image1.url }}" alt="{{ i.image2.name }}" class="img-thumbnail" width="70%" height="450">
		{% endif %}
		{% if i.image2 %}
<img src="{{ i.image2.url }}" alt="{{ i.image2.name }}" class="img-thumbnail" width="70%" height="450">
		{% endif %}
		{% if i.image3 %}
<img src="{{ i.image3.url }}" alt="{{ i.image3.name }}" class="img-thumbnail" width="70%" height="450">
		{% endif %}
		</div>
	   <div class="col-md-12 col-xs-12 container"><p><h5>{% for i in tagged_users %}
	<a href="{% url 'profile_page2' user=i %}">@{{i}}</a>
	{% endfor %}
{{ i.text|linebreaksbr }}</h5></p>
	   <div class="btn btn-block btn-default">BOOSTED POST</div>
	   <div class="col-md-3 col-xs-3"> 
	   <h5><a>Like</a> <a>Share</a></h5>
	   {% if i.user_profile.profile_picture %} 
	   <img src="{{ i.user_profile.profile_picture.url }}" alt="{{ i.user_profile.profile_picture.name }}" class="img-circle" width="20" height="20">
	   {% else %}
	   <img src="{% static 'services/img/mohamed_y.jpg' %}" alt="" class="img-circle" width="20" height="20">
	   {% endif %}
	   </div>
	   <div class="col-md-9 col-xs-9">
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"><h6><div class="text-right">Author : {{i.user}}</div></h6></a>
	   <a href="{% url 'genre_category' category=i.genre.category %}"><h6><div class="text-right">Talent-Category : {{i.genre.category}}</div></h6></a>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div></div></div></div><br/>
{% endfor %}
{% endif %}

{% if post_2 %}
{% for i in post_2 %}
<div style="background-color:white;">
	   <div class="container">
	   <div class="row">
	   <div class="container">
	   <div class="text-center">
	   	{% if i.image1 %}
<img src="{{ i.image1.url }}" alt="{{ i.image2.name }}" class="img-thumbnail" width="70%" height="450">
		{% endif %}
		{% if i.image2 %}
<img src="{{ i.image2.url }}" alt="{{ i.image2.name }}" class="img-thumbnail" width="70%" height="450">
		{% endif %}
		{% if i.image3 %}
<img src="{{ i.image3.url }}" alt="{{ i.image3.name }}" class="img-thumbnail" width="70%" height="450">
		{% endif %}
		</div>
	   <div class="col-md-12 col-xs-12 container"><p><h5>{% for i in tagged_users %}
	<a href="{% url 'profile_page2' user=i %}">@{{i}}</a>
	{% endfor %}
{{ i.text|linebreaksbr }}</h5></p>
	   <div class="btn btn-block btn-default">BOOSTED POST</div>
	   <div class="col-md-3 col-xs-3"> 
	   <h5><a>Like</a> <a>Share</a></h5>
	   {% if i.user_profile.profile_picture %} 
	   <img src="{{ i.user_profile.profile_picture.url }}" alt="{{ i.user_profile.profile_picture.name }}" class="img-circle" width="20" height="20">
	   {% else %}
	   <img src="{% static 'services/img/mohamed_y.jpg' %}" alt="" class="img-circle" width="20" height="20">
	   {% endif %}
	   </div>
	   <div class="col-md-9 col-xs-9">
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"><h6><div class="text-right">Author : {{i.user}}</div></h6></a>
	   <a href="{% url 'genre_category' category=i.genre.category %}"><h6><div class="text-right">Talent-Category : {{i.genre.category}}</div></h6></a>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div></div></div></div><br/>
{% endfor %}
{% endif %}
{% endblock content %}
	
{% block aside %}
	<div style="background-color:white;">
ahprhvp
<br>
sbvaibgibils
<br>
<br>
<br>
snognvgno
<br>
jifouucc
<br>
</div>
{% endblock aside %}
	