{% extends 'services/base.html' %}
    {% block content %}
	<div class="text-center"> <h2> FRONT-PAGE POSTS FROM ALL SECTIONS </h2> </div><br/><br/>
	
	
	<p> <a href="{% url 'genre_category' category=Music1 %}"> <span class="btn btn-block btn-success"> MUSIC RELATED SECTION </span></a></p>
	{% for i in Music %}
	<div class="col-sm-12"><p><h3>{{ i.text|safe }}</h3></p>
	<a href="{% url 'profile_page2' user=i.user.id %}"> <h3><div class="text-right"> {{i.user}}</div></h3></a>
	<h4><div class="text-right">{{i.published_date|safe|linebreaksbr}}</div></h4>
	<pre>BOOSTED POST</pre>
	<a href="{% url 'post_detail' slug=i.slug %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div><br/><br/><hr/>
	{% endfor %}
	<p class="text-center"><a href="{% url 'genre_category' category=Music1 %}"> <span class="btn btn-default">View More From Music Category</span></a></p>
	<br/><br/><br/><br/>
	
	
	<p> <a href="{% url 'genre_category' category=Fashion1 %}"> <span class="btn btn-block btn-success"> FASHION RELATED SECTION </span></a></p>
	{% for i in Fashion %}
	<div class="col-sm-12"><p><h3>{{ i.text|safe }}}}</h3></p>
	<a href="{% url 'profile_page2' user=i.user.id %}"> <h3><div class="text-right"> {{i.user}}</div></h3></a>
	<h4><div class="text-right">{{i.published_date|safe|linebreaksbr}}</div></h4>
	<pre>BOOSTED POST</pre>
	<a href="{% url 'post_detail' slug=i.slug %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div><br/><br/><hr>
	{% endfor %}
	<p class="text-center"><a href="{% url 'genre_category' category=Fashion1 %}"> <span class="btn btn-default">View More From Fashion Category</span></a></p>
	<br/><br/><br/><br/>
	
	
	<p> <a href="{% url 'genre_category' category=Teaching1 %}"> <span class="btn btn-block btn-success"> TEACHING RELATED SECTION </span></a></p>
	{% for i in Teaching %}
	<div class="col-sm-12"><p><h3>{{ i.text|safe }}}}</h3></p>
	<a href="{% url 'profile_page2' user=i.user.id %}"> <h3><div class="text-right"> {{i.user}}</div></h3></a>
	<h4><div class="text-right">{{i.published_date|safe|linebreaksbr}}</div></h4>
	<pre>BOOSTED POST</pre>
	<a href="{% url 'post_detail' slug=i.slug %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div><br/><br/><hr/>
	{% endfor %}
	<p class="text-center"><a href="{% url 'genre_category' category=Teaching1 %}"> <span class="btn btn-default">View More From Teaching Category</span></a></p>
	<br/><br/><br/><br/>
	
	
	<p> <a href="{% url 'genre_category' category=Art1 %}"> <span class="btn btn-block btn-success"> ART RELATED SECTION </span></a></p>
	{% for i in Art %}
	<div class="col-sm-12"><p><h3>{{ i.text|safe }}}}</h3></p>
	<a href="{% url 'profile_page2' user=i.user.id %}"> <h3><div class="text-right"> {{i.user}}</div></h3></a>
	<h4><div class="text-right">{{i.published_date|safe|linebreaksbr}}</div></h4>
	<pre>BOOSTED POST</pre>
	<a href="{% url 'post_detail' slug=i.slug %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div><br/><br/><hr/>
	{% endfor %}
	<p class="text-center"><a href="{% url 'genre_category' category=Art1 %}"> <span class="btn btn-default">View More From Art Category</span></a></p>
	<br/><br/><br/><br/>
	{% endblock content %}