{% extends 'services/base.html' %}
{% block header %}
<br>
<br>
<br>
 <div class="container">
<div class="bg-faded p-4 my-4">
            	<div style="background-color:aqua;">
<br>
<div class="text-center">
<h2 class="text-center text-lg text-uppercase my-0"> <strong>New Comment</strong></h2>
<hr class="intro-divider"/>
</div>
</div>
			<div class="text-center">
			<form method="POST" class="post-form">
				{% csrf_token %}
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<div class="form-group">
			<label for="text">Text:</label>
			<textarea type="text" style="height:200px;width:90%" class="form-control" name="text">
			</textarea>
			</div>
			</div>
			<div class="col-md-4"></div>
			
			<button type="submit" class="save btn btn-default">Submit</button>
			</form>
			            <hr class="divider">
</div>
</div>
</div>
{% endblock header %}