{% extends 'services/base.html' %}
       {% block title %} {{block.super}} {% endblock title %}

{% block header %}
<br/>
<br>
<br>
<div style="background-color:aqua;">
<br>
<div class="container-fliud">
<div class="text-center">
<h1>Post Detail</h1>
<hr class="intro-divider"/>
</div>
</div>
		<br>
</div> 
{% endblock header %}	   

{% block content %}

<p><h3>{% for i in tagged_users %}
	<a href="{% url 'profile_page2' user=i %}">@{{i}}</a>
	{% endfor %}
{{ post.text|safe|linebreaksbr }}</h3></p>
<hr class="intro-divider"/>
<div class="text-center">
<p>
{% if post.image1 %}
<img src="{{ post.image1.url }}" alt="{{ post.image1.name }}" class="img-thumbnail" width="450" height="450">
{% endif %}
{% if post.image2 %}
<img src="{{ post.image2.url }}" alt="{{ post.image2.name }}" class="img-thumbnail" width="450" height="450">
{% endif %}
{% if post.image3 %}
<img src="{{ post.image3.url }}" alt="{{ post.image3.name }}" class="img-thumbnail" width="450" height="450">
{% endif %}
</p>
<p>{% if post.file %}<a href="{{ post.file.url }}"> {{post.file}} {% endif %}</a></p>
</div>
<div class="text-right">
<hr class="intro-divider"/>
<h3><a href="{% url 'genre_category' category=post.genre.category %}">{{post.genre.category}}</a></h3>
<a href="{% url 'profile_page2' user=post.user %}"><h3><div class="text-center">written by:{{post.user|safe|linebreaksbr}}</div></h3></a>
<h3>{{post.published_date}}</h3>
<br/>
</div>
<br/>
<div class="text-left">
<h3>COMMENTS</h3>
<hr class="intro-divider"/>
<form method="POST" class="post-form">
	    {% csrf_token %}
        <div class="form-group">
			<label for="text">Text:</label>
			<textarea type="text" style="margin-left:5%;height:200px;width:250px" class="form-control" name="text">
			</textarea>
		</div>
        <button type="submit" class="save btn btn-default">Save</button>
</form>
<br>
<br>
{% for comment_ in comment %}
<p>
<h4>{{comment_.text}}</h4>
<h4>{{comment_.published_date}}</h4>
</p>
<p>
<a href="{% url 'new_comment' pk=post.pk position=comment_.position parent_no=comment_.pk%}" class="top-menu"><span class="btn btn-default">reply</span></a>
</p>
</div>
<hr class="intro-divider"/>
{% endfor %}
{% endblock content %}