{% extends 'services/base.html' %}
       {% block title %} {{block.super}} {% endblock title %}
{% block content %}
<div class="">
<br/>
<br>
<br>
<hr class="intro-divider"/>
<p><h3>{{ post.text|safe|linebreaksbr }}</h3></p>
<p> {% for i in file %} {% if i.file %}<a href="{{ i.file.url }}"> {{i}} {% endif %}{% endfor %}</a></p>
</div>
<div class="text-right">
<hr class="intro-divider"/>
<a href="{% url 'profile_page2' user=post.user %}"><h3><div class="text-center">written by:{{post.user|safe|linebreaksbr}}</div></h3></a>
<h3><div class="text-right">{{post.published_date}}</div></h3>
<br/>
</div>
<br/>
<div class="text-left">
<h3>COMMENTS</h3>
<hr class="intro-divider"/>
<form method="POST" class="post-form">
	    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
</form>
<br>
<br>
{% for comment_ in comment %}
<p>
<h4>{{comment_.text}}</h4>
<h4>{{comment_.published_date}}</h4>
</p>
<p>
<a href="{% url 'new_comment' pk=post.pk position=comment_.position parent_no=comment_.pk%}" class="top-menu"><span class="btn btn-default">reply</span></a>
</p>
<hr class="intro-divider"/>
{% endfor %}
{% endblock content %}