{% extends 'services/base1.html' %}
{% block header %}
<br>
<br>
<br>
<div class="container">
<div class="bg-faded p-4 my-4">
            <div style="background-color:aqua;">
<br>
<div class="text-center">
<h2 class="text-center text-lg text-uppercase my-0"> <strong>EDIT PROFILE</strong></h2>
<hr class="intro-divider"/>
</div>
</div>
			<form method="POST" class="post-form">
			{% csrf_token %}
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<div class="form-group">
			<label for="first_name">First Name:</label>
			<input type="text" style="" placeholder="First Name" name="first_name"/>
			</div>
			<br>
			<div class="form-group">
			<label for="middle_name">Middle Name:</label>
			<input type="text" style="" placeholder="Middle Name" name="middle_name"/>
			</div>
			<br>
			<div class="form-group">
			<label for="last_name">Last Name:</label>
			<input type="text" style="" placeholder="Last Name" name="last_name"/>
			</div>
			<br>
			<div class="form-group">
			<label for="profile_picture">Profile Picture:</label>
			<input type="file" style="" placeholder="Picture" name="profile_picture"/>
			</div>
			<br>
			<div class="form-group">
			<label for="link">Website Link:</label>
			<input type="text" style="" placeholder="A link of your choice" name="link"/>
			</div>
			<br>
			<div class="form-group">
			<label for="last_name">Last Name:</label>
			<input type="text" style="" placeholder="Last Name" name="last_name"/>
			</div>
			<br>
			<div class="form-group">
			<label for="short_bio">Text:</label>
			<textarea type="text" style="margin-left:5%;height:200px;width:90%" class="form-control" name="short_bio">
			</textarea>
			</div>
			<br>
			<button type="submit" class="save btn btn-default">Submit</button>
			<hr class="divider">
			</div>
			</div>
			<div class="col-md-4"></div>
			</form>
</div>
{% endblock header%}