{% extends 'services/base.html' %}
{% block header %}
<br>
<br>
<br>
<div class="container">
<div class="bg-faded p-4 my-4">
            <h2 class="text-center text-lg text-uppercase my-0"> <strong>PROFILE PAGE EDIT</strong></h2>
            <hr class="divider">
			<div class="col-md-3"></div>
			<div class="">
			<div class="col-md-6">
			<form method="POST" class="post-form">
				{% csrf_token %}
				{% for field in form %}
				<p>
				{{ field.label_tag }}<br>
				{{ field }}
				{% if field.help_text %}
				<small style="display: none">{{ field.help_text }}</small>
				{% endif %}
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
			
			<button type="submit" class="save btn btn-default">Submit</button>
			<hr class="divider">
			</div>
			<div class="col-md-3"></div>
			</form>
</div>
</div>
</div>
{% endblock header%}