{% extends 'services/base.html' %} 
{% load static from staticfiles %}
{% block header %}
<br/>
		<br/>
		<br/>
		<div class="text-center">
		<div style="background-color:aqua">
		<br/>
		<h4>{{ profile.user|upper }}'S PROFILE PAGE <br/><br/>
		
		</div>
		<br/>
		{% if image %}
		<p><img src="{{ profile.picture.url }}" alt="{{ profile.picture.name }}" class="img-thumbnail" width="450" height="450"></p>
		{% else %}
		<img src="{% static 'services/img/mohamed_y.jpg' %}" alt="" class="img-thumbnail" width="450" height="450">
		{% endif %}
		
		<br/>
		<br/> 
		{% if user.is_authenticated %}
			{% if user != profile.user %}
				{% if user in profile_followers %}
				<a href="{% url 'unfollow' user1=profile.user %}">
					<span class="btn btn-info">
						Unfollow - {{profile.user|title}} 
					</span>
				</a>
				<br/><br/>
				{% else %}
				<a href="{% url 'follow' user1=profile.user %}">
					<span class="btn btn-info">
						Follow - {{profile.user|title}} 
					</span>
				</a>
				<br/><br/>
				{% endif %}
			{% endif %}
		{% endif %}
		</div>
{% endblock header %}
{% block content %}
		
		<div class="text-center">
		<br/>
		<br/>
		<p><h4>Short Bio:</h4> {{ profile.short_bio }} </p>
		<br/>
		<br/>
		<br/>
		<h4> <div class="btn btn-block btn-success">{{profile.user|upper}} POSTS</div>  </h4>
		<hr class="divider">
		</div>
		<div>
		<p>
		{% if post %}
		{% for i in post %}
			<div class="">
	   <div class="row">
	   <div class="col-md-12 col-xs-12"><p><h4>{{ i.text }}</h4></p>
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"> <h6><div class="text-right"> {{i.user}}</div></h6></a>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div><br/><br/>  
			{% endfor %}
		{% if post_no > 10 %}
		<div class="btn btn-block btn-info">More {{profile.user}} posts</div>
		{% endif %}
			{% endif %}
		</div>
	<hr class="divider">
{% endblock content %}