{% extends 'services/base.html' %}
{% load static from staticfiles %}



       {% block title %} {{block.super}} {% endblock title %}
	   {% block aside %}
	   
	   				{% if user.is_authenticated %} 
			<div class="container" style="background-color:white;">
			<br>
			<div class="text-center"><p>Followers</p></div>
			<hr class="divider"/>
			<p><h5>Total no :  </h5></p> 
			<p><h5>Online :   </h5></p>
				{% for i in user_follower %} <a href="{% url 'profile_page2' user=i %}">{{i}}</a>{% endfor %}
			<div class="text-center"><h5><p>Following</p></h5></div>
				<hr class="divider"/>
				<p><h5>Total no :  </h5></p> 
				<p><h5>Online :   </h5></p>
				{% for i in user_following %}<a href="{% url 'profile_page2' user=i %}"> {{i}}</a> {% endfor %}
			</div>
		<br>
		<br>
					{% endif %} 
	   
	   {% endblock aside %}
	   {% block header %}
<br>
<br>
<div style="background-color:aqua;">
<div class="container-fluid">
<br>
<h2 class="text-center text-lg text-uppercase my-0"> <strong>TOP VAUNTERS</strong></h2>
<hr class="intro-divider"/>
<br>
<br>
</div>
</div>
{% endblock header %}	   
{% block content %}
{% for profile in profiles %}
	   <div style="background-color:white;">
	   <div class="container">
	   <div class="row">
	   <div class="container">
	   <div class="text-center">
	   <h4>{{ profile.user|upper }}</h4>
	   </div>
	   </div>
	   </div>
	   </div>
	   </div>
{% endfor %}
{% endblock content %}