{% extends 'services/base.html' %}
{% load static from staticfiles %}



       {% block title %} {{block.super}} {% endblock title %}
	   {% block aside %}
	   {{block.super}}
	   {% endblock aside %}
	   {% block header %}
<br>
<br>
<div style="background-color:aqua;">
<div class="container-fluid">
<br>
<h2 class="text-center text-lg text-uppercase my-0"> <strong>TOP VAUNTERS</strong></h2>
<hr class="intro-divider"/>
<br>
<br>
</div>
</div>
{% endblock header %}	   
{% block content %}
{% for profile in profiles %}
	   <div style="background-color:white;">
	   <div class="container">
	   <div class="row">
	   <div class="container">
	   <div class="text-center">
	   <h4>{{ profile.user|upper }}</h4>
	   </div>
	   </div>
	   </div>
	   </div>
	   </div>
{% endfor %}
{% endblock content %}