{% extends 'services/base.html' %}
       {% block title %} {{block.super}} {% endblock title %}
	   {% block aside %}
	   <h5>Your Followers:
	   {% for i in user_follower %} {{i}} {% endfor %}</h5>
	   <h5>People You Follow:
	   {% for i in user_following %} {{i}} {% endfor %}</h5>
	   {% endblock aside %}
	   {% block header %}
	   <br>
	<div class="text-center ">
		<div style="background-color:aqua;">
		 <br>
		<h1>
		<div class="text-left">
			{% if profile.picture %}
	   <p><img src="{{ profile.picture.url }}" alt="{{ profile.picture.name }}" class="img-thumbnail" width="40" height="40"></p>
	   {% else %}
	   <p><img src="" alt="" class="img-thumbnail" width="40" height="40"></p>
	   {% endif %}
	   </div>
			Your Feed 
			<hr class="intro-divider"/> 
		</h1> 	
			<div class="col-md-6 col-xs-6" style="background-color:aqua;">
			<h5>
				Create new post :
				<h6>
				categories: {% for i in category %}
				<a href="{% url 'new_post' category=i.category %}">{{i.category}}</a> |
				{% endfor %}
				</h6>
			</h5>
			</div>
			<div class="col-md-6 col-xs-6" style="background-color:aqua;">
			<h5>
				Filter by :
				<h6>
					<a href="">(categories)</a>
					<a href="">(popular posts)</a>
				</h6>
			</h5>
			</div>
			<hr class="intro-divider"/>
		</div>
	</div>
	{% endblock header %}
	{% block content %}
	 <br>
	 {% if promoted_post %}
	   {% for i in promoted_post %} 
	   <div class="">
	   <div class="row">
	   <div class="col-md-12 col-xs-12"><p><h5>{{ i.text|safe|linebreaksbr }}</h5></p>
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"><h6><div class="text-right"> {{i.user}}</div></h6></a>
	   <pre>BOOSTED POST</pre>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div><br/><br/>
	   {% endfor %}
	 {% endif %} 
    {% if post %}
	   {% for i in post %}
	   <div class="">
	   <div class="row">
	   <div class="col-md-12 col-xs-12"><p><h5>{{ i.text|safe|linebreaksbr }}</h5></p>
	   <h6><div class="text-right">{{i.published_date}}</div></h6>
	   <a href="{% url 'profile_page2' user=i.user %}"> <h6><div class="text-right"> {{i.user}}</div></h6></a>
	   <a href="{% url 'post_detail' pk=i.pk %}"><p class="text-right"><span class="btn btn-info">View comments</span></p></a></div>
	   </div></div><br/><br/>  
	   {% endfor %} 
	{% endif %}
	   {% endblock content %}
	   {% block aside2 %}
		<br>
	   <br>
	   <br><br>
	   <br>
	   <br>
	   {% endblock aside2 %}